@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", "sans-serif";
    line-height: 1.7;
    color: #1f3d89;
    background-color: #f8f5de;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

li {
    list-style: none;
}

.title {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #69c4d0;
    color: #fff;
    padding: 20px;
}

.wrapper {
    text-align: center;
}

.box {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    padding: 25px;
    max-width: 500px;
    align-items: center;
}

#form {
    margin: 30px;
    text-align:center;
}

#doneTitle {
    color: #84b9e5;
}

.done {
    color: #84b9e5;
}